<%- include('partials/header.ejs') -%>
<body>
    <%- include('partials/navbar.ejs') -%>
    <div class="container">
        <h1 class="display-2 text-center my-5">Faça suas Perguntas!</h1>
        <div class="card mb-3" id="cards-perguntas">
            <div class="card-body">
              <h4 class="card-title"> <%= pergunta.titulo %></h4>
              <p class="card-text"> <%= pergunta.descricao %></p>
            </div>
        </div>
        <form action="/perguntas" method="post" class="my-5">
            <h3>Mande sua resposta:</h3>
            <textarea placeholder="Digite sua Resposta" class="form-control" name="resposta" id="ask"></textarea>
            <input type="hidden" value="<%=pergunta.id%>" name="pergunta">
            <button class="btn btn-primary mt-3" type="submit">Enviar resposta</button>
        </form>
        <h3>Todas as Respostas:</h3>
        <% respostas.forEach( resposta => {  %>
            <div class="card my-3">
                <div class="card-body">
                  <p class="card-text"> <%= resposta.resposta %></p>
                </div>
            </div>
        <% }) %>
    </div>
    
    <%- include('partials/footer.ejs') -%>
</body>
